.c {

	&-card {
		display: inline-block;
		padding: 30px;
		margin-bottom: 20px;
		background-color: white;

		max-width: 220px;

		@include shadow();
		@include border-radius();

		&__title {
			display: block;

			font-weight: 700;
			color: $blue;
		}

		&__feed {
			max-height: 50vh;
			// overflow-y: scroll;
		}

		&__row {
			display: flex;
			flex-flow: column;
		}
	}
}
