.c {
	&-button {
		background-color: white;
		font-family: $default-font;
		color: #000;
		text-decoration: none;
		border: none;
		padding: 10px 30px;
		border-radius: 30px;
		outline: none;

		@include shadow();

		&:active {
			outline: none;
		}

		
	}
}