@mixin shadow() {
	box-shadow: -15px 5px 50px 0px rgba(0, 0, 0, 0.20);
}

@mixin shadow-text() {
	text-shadow: -2px 2px 10px rgba(0, 0, 0, 0.20);
}

@mixin border-radius() {
	border-radius: 5px;
}

@mixin transition($property, $duration: 0.3s) {
	transition: $property $duration ease-in-out;
}
